body{
    margin:0;
    padding:0;
    font-family:verdana, sans-serif;
    background:green;
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;
}

.container{
    background:white;
    padding:40px;
    border-radius:30px;
    text-align:center;
    width:350px;
}

h1{
    color:#0072ff;
}

p{
    font-size:20px;
}

#number{
    font-size:60px;
    font-weight:bold;
    color:red;
    margin:25px 0;
}

button{
    background:#0072ff;
    color:white;
    border:solid 5px #0055cc;
    padding:15px 30px;
    font-size:18px;
    border-radius:38px;
}

button:hover{
    background: red;
}