/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body */
body {
    font-family: Arial, sans-serif;
}

.btn {
    display: inline-block;
    background-color: green;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 50px;
    font-weight: bold;
}

.navbar {
    background-color: #333;
    color: white;
    padding: 15px 30px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-links {
    display: flex;
    gap: 20px;
}

.nav-links a {
    color: white;
    text-decoration: none;
}

/* Hero Section */
.hero {
    background-color: #f4f4f4;
    height: 300px;

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.hero-content h1 {
    margin-bottom: 10px;
}

.hero-content p {
    margin-bottom: 15px;
}

.hero-content button {
    padding: 10px 20px;
    border: none;
    background-color: #007BFF;
    color: white;
    cursor: pointer;
}

.hero-content button:hover {
    background-color: #0056b3;
}

/* Features Section */
.features {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;

    padding: 40px;
}

.card {
    border: 2px solid #ccc;
    padding: 20px;
    text-align: center;

    transition: 0.3s;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0px 4px 10px gray;
}

/* Footer */
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 15px;
}

/* Responsive Design */
@media (max-width: 768px) {

    .navbar {
        flex-direction: column;
        gap: 10px;
    }

    .nav-links {
        flex-direction: column;
        text-align: center;
    }

    .features {
        grid-template-columns: 1fr;
    }
}