body{
    background-color: lightgray;
    font-family: Arial, sans-serif;
}

h1{
    color: darkblue;
}

table{
    background-color: white;
    padding: 20px;
    border: 2px solid black;
}

td{
    padding: 10px;
}

input,
select{
    padding: 5px;
    width: 200px;
}

input[type="radio"]{
    width: auto;
}

input[type="submit"]{
    background-color: green;
    color: white;
    border: none;
    padding: 10px;
}

input[type="reset"]{
    background-color: red;
    color: white;
    border: none;
    padding: 10px;
}